* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: lightgrey;
}

.container {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  padding: 20px;
  margin: 20px;
  font-size: 0.5em;
  }
  